@import "tailwindcss";

:root {
  color-scheme: light;
  font-size: 17px;
  --background: #f8fafc;
  --foreground: #1f2937;
  --theme-color: #498E7B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-color: var(--theme-color);
}

body {
  background: var(--background);
  color: var(--foreground);
}
